@import url("./../App.css");

.sticker-id { grid-area: stickerId; border-start-end-radius: 5px; border-start-start-radius: 5px;}
.button-left { grid-area: buttonLeft; border-end-start-radius: 5px; }
.button-right { grid-area: buttonRight; border-end-end-radius: 5px; }

.sticker-card {
    width: 6rem;
    height: 5rem;
    display: grid;
    grid-template-areas:
        'stickerId stickerId'
        'buttonLeft buttonRight';
    gap: 1px;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
    font-weight: 600;
    font-family: var(--title-font);
}

.sticker-card div {
    background-color: var(--white-color);
}

.obtained-sticker {
    background-color: var(--obtained-sticker) !important;
}

.repeted-sticker {
    background-color: var(--repeted-sticker);
}

.centred-item {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.sticker-button {
    border: none;
    background-color: transparent;
}