@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --white-color: #F9F9F9;
  --beige-color: #E1C396;
  --brown-color: #B09677;
  --bordo-color: #8D1C3D;
  --title-font: 'Rubik', sans-serif;
  --paragraph-font: 'Montsettat', sans-serif;

  --obtainer-sticker: #63A194;
  --missing-sticker: var(--white-color);
  --repeted-sticker: #E1C396;
}

.padding-body {
  padding: 1rem 4rem 1rem 4rem;
}

h1 {
  font-size: 32px;
  font-family: var(--title-font);
  text-align: center;
}

h2 {
  font-size: 28px;
  font-family: var(--title-font);
}

p {
  font-size: 15px;
  font-family: var(--paragraph-font);
}