@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --white-color: #f9f9f9;
  --beige-color: #e1c396;
  --brown-color: #b09677;
  --bordo-color: #8d1c3d;
  --title-font: 'Rubik', sans-serif;
}

.padding-body {
  padding: 1rem 4rem 1rem 4rem;
}

h1 {
  font-size: 32px;
  font-family: var(--title-font);
  text-align: center;
}

p {
  font-size: 10px;
}